
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-display: auto;
}
smart-grid {
  width: 100% !important;
}
.data-grid-container{
  padding-left: 15px;
  padding-right: 15px;
  
}
.demo-description {
text-align: center;
  font-size: 13px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.demo-description h1 {
  font-size: 22px;
}